
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/tasks-list"class="navbar-brand" routerLinkActive="active">Tasks List</a>
            <a routerLink="/tasks-details"class="navbar-brand" routerLinkActive="active">Tasks Details</a>
            <a routerLink="/create-task"class="navbar-brand" routerLinkActive="active">Create Task</a>
            <a routerLink="/edit-task"class="navbar-brand" routerLinkActive="active">Edit Task</a>
        </div>
    </div>
</nav>


